body {
    user-select: none;
}

.swiper-button-next-new,
.swiper-button-prev-new {
    position: absolute;
    top: 50%;
    z-index: 99999999 !important;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 40px;
    height: 40px;

    background-color: #214F8A;

    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    opacity: 0.5;




}

.swiper-button-next-new .bottom,
.swiper-button-prev-new .bottom {
    bottom: 10px;
    top: auto;
}

.swiper-button-next-new svg,
.swiper-button-prev-new svg {
    margin: auto !important;
    transform: translateY(5px);
}

@keyframes moveArrowRight {
    0% {
        background-color: rgba(64, 89, 93, 0.247);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        right: 10px;
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {

        right: 15px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes moveArrowRightCenter {
    0% {
        background-color: rgba(64, 89, 93, 0.247);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
        right: 47%;
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {

        right: 46%;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes moveArrowLeft {
    0% {
        background-color: rgba(64, 89, 93, 0.247);
        left: 10px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {

        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {

        left: 10px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes moveArrowLeftCenter {
    0% {
        background-color: rgba(64, 89, 93, 0.247);
        left: 47%;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    70% {

        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {

        left: 46%;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.swiper-button-next-new {
    animation-name: moveArrowRight;


}

.swiper-button-next-new .bottom {
    animation-name: moveArrowRightCenter;
}

.swiper-button-prev-new {
    animation-name: moveArrowLeft;

}

.swiper-button-prev-new .bottom {
    animation-name: moveArrowLeftCenter;
}